.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
**/.prettierrc.json
**/.eslintrc.json
.gitattributes
ly/python-ly
ly/build
ly/build.py
ly/.env
ly/requirements.txt